.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loading {
  font-size: 14px;
  opacity: 0.7;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 4px; /* avatar & username gap slightly reduced */
  cursor: pointer;
}

.username {
  font-weight: 600;
  color: var(--ifm-navbar-link-color);
}

.logout {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--ifm-navbar-link-color);
  font-weight: bold;
}

.signin {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.signin:hover {
  transform: scale(1.03);
}

.signin:active {
  transform: scale(0.98);
}

.signup {
  background: var(--ifm-color-primary);
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.signup:hover {
  background: var(--ifm-color-primary-dark);
}

.signup:active {
  background: var(--ifm-color-primary-darker);
}
