# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# ROS 2
build/
install/
log/
colcon_ws/

# Docusaurus
.docusaurus/
.cache-loader/
node_modules/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
.env*
